@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

* .navbarBackground {
  background-color: #fdc800;
}

* .navbarBackground .navbar-brand {
  font-size: medium;
}

* .navbarBackground .navbar-brand .align-text-top {
  max-width: 50%;
}

* .navbarBackground .navbarLogo {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

* .navbarbg {
  background-color: #f0f4f9;
}

* .navbarbg .logo {
  max-width: 80%;
}

* .navbarbg .nav-link {
  color: #002147;
  font-weight: bold;
}

* .navbarbg .signBut {
  color: #002147;
  background-color: #fdc800;
}

* .navbarbg .searchButton {
  padding: 4px 6px;
  background-color: #00b2b2;
}

* .navbarbg .searchButton .searchBtn {
  background-image: url("/Ass2/Advance%20Design%2004/Component%20102.png");
  background-repeat: no-repeat;
  padding: 10px;
}

* .navbarbg .btn-outline-secondary {
  background-color: white;
}

* .top-section {
  padding-bottom: 5rem;
  background-color: #f0f4f9;
}

* .top-section .topSection-row {
  margin: auto;
}

* .top-section .topSection-row .topSection {
  margin: auto;
}

* .top-section .topSection-row .topSection .topH5 {
  color: #002147;
}

* .top-section .topSection-row .topSection .topH1 {
  color: #002147;
  font-family: Georgia;
}

* .top-section .topSection-row .topSection .topBut1 {
  background-color: white;
}

* .top-section .topSection-row .topSection .topBut1:hover {
  background-color: #fdc800;
  border: none;
}

* .top-section .topSection-row .topSection .topBut2 {
  background-color: white;
}

* .top-section .topSection-row .topSection .topBut2:hover {
  background-color: #fdc800;
  border: none;
}

* .sucess-section {
  background-color: #002147;
  border-radius: 10px;
  margin-bottom: 5rem;
}

* .sucess-section .successImg-div {
  padding-left: 10px;
}

* .sucess-section .successPara-div {
  margin: auto;
  color: white;
}

* .sucess-section .successPara-div em {
  color: #fdc800;
}

* .sucess-section .successClock-div {
  margin: auto;
  color: white;
}

* .sucess-section .successClock-div .clock {
  font-weight: bold;
  font-size: xxx-large;
  font-family: Inter;
}

* .courses-section {
  margin-bottom: 5rem;
}

* .courses-section .cardsheading {
  text-align: center;
  color: #002147;
  font-weight: bold;
  font-family: Georgia;
}

* .courses-section .cardCol {
  margin-left: 14px;
  margin-top: 60px;
}

* .courses-section .cardCol .card-main {
  width: 17rem;
  margin: auto;
}

* .courses-section .cardCol .card-main .card-img-top1, * .courses-section .cardCol .card-main .card-img-top2, * .courses-section .cardCol .card-main .card-img-top3, * .courses-section .cardCol .card-main .card-img-top4, * .courses-section .cardCol .card-main .card-img-top5, * .courses-section .cardCol .card-main .card-img-top6, * .courses-section .cardCol .card-main .card-img-top7, * .courses-section .cardCol .card-main .card-img-top8, * .courses-section .cardCol .card-main .card-img-top9 {
  background-repeat: no-repeat;
  padding-top: 103px;
  padding-bottom: 0px;
  padding-left: 11px;
  padding-right: 206px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-width: 100%;
  background-image: url("/Ass2/Advance%20Design%2004/ux-designer-web-designer.png");
  background-size: contain;
}

* .courses-section .cardCol .card-main .cardH5 {
  color: #002147;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

* .courses-section .cardCol .card-main .cardPara {
  color: #757575;
  font-size: small;
}

* .courses-section .cardCol .card-main .card-img-top2 {
  background-image: url("/Ass2/Advance%20Design%2004/why-ux-design-is-important-840x400.png");
}

* .courses-section .cardCol .card-main .card-img-top3 {
  background-image: url("/Ass2/Advance%20Design%2004/difference-between-ux-ui-ux-ui-min-6cd3a171087987d31ecdb67ad67c0ab8136242f7b4e476a0e509017aa8bbc755.png");
}

* .courses-section .cardCol .card-main .card-img-top4 {
  background-image: url("/Ass2/Advance%20Design%2004/shutterstock_703336915.png");
}

* .courses-section .cardCol .card-main .card-img-top5 {
  background-image: url("/Ass2/Advance%20Design%2004/ux-design-pillar-page-ux-overview.png");
}

* .courses-section .cardCol .card-main .card-img-top6 {
  background-image: url("/Ass2/Advance%20Design%2004/what-does-a-ux-designer-do-header-image.png");
}

* .courses-section .cardCol .card-main .card-img-top7 {
  background-image: url("/Ass2/Advance%20Design%2004/what-does-a-ux-ui-designer-do_860.png");
}

* .courses-section .cardCol .card-main .card-img-top8 {
  background-image: url("/Ass2/Advance%20Design%2004/iStock_000081361619_Full.png");
}

* .courses-section .cardCol .card-main .card-img-top9 {
  background-image: url("/Ass2/Advance%20Design%2004/UX_design_principles_jpg_-EtzLc2m.png");
}

* .courses-section .cardCol:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  -webkit-transition: -webkit-transform 150ms cubic-bezier(0, 0, 0.38, 0.9);
  transition: -webkit-transform 150ms cubic-bezier(0, 0, 0.38, 0.9);
  transition: transform 150ms cubic-bezier(0, 0, 0.38, 0.9);
  transition: transform 150ms cubic-bezier(0, 0, 0.38, 0.9), -webkit-transform 150ms cubic-bezier(0, 0, 0.38, 0.9);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.38, 0.9);
          transition-timing-function: cubic-bezier(0, 0, 0.38, 0.9);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

* .BlackImg-Section {
  margin-bottom: 5rem;
}

* .BlackImg-Section .kimmie {
  text-align: center;
  margin: 0;
}

* .BlackImg-Section .Junior {
  text-align: center;
}

* .BlackImg-Section .blkImgH1 {
  font-size: 3.5rem;
  font-family: Georgia;
  font-weight: bold;
  color: #002147;
}

* .BlackImg-Section .blkpara {
  font-size: medium;
  font-family: Inter;
  color: #212529;
}

* .BlackImg-Section .blkH6 {
  color: #002147;
}

* .BlackImg-Section .blkpara1 {
  color: #002147;
  font-size: small;
}

* .BlackImg-Section .blkpara2 {
  color: #757575;
  font-size: smaller;
}

* .fourimages {
  padding: 55px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f0f4f9;
  background-image: url("/Ass2/Advance%20Design%2004/map.png");
}

* .fourimages .fourimagesRow {
  margin: auto;
}

* .fourimages .fourimagesRow .imgcol {
  text-align: center;
}

* .fourimages .fourimagesRow .imgcol .imgh1 {
  color: #002147;
}

* .fourimages .fourimagesRow .imgcol .imgpara {
  color: #00b2b2;
}

* .girlImgSection {
  margin: auto;
  margin-top: 6rem;
}

* .girlImgSection .girl-img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 60%;
  margin-left: 80px;
}

* .Subscribe {
  margin: auto;
}

* .Subscribe .SubNow {
  color: #fdc800;
}

* .Subscribe .subNowH1 {
  color: #002147;
}

* .Subscribe .girl-form .girl-label {
  position: relative;
}

* .Subscribe .girl-form .girl-label .sub-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: none;
  background: #fdc800;
  color: #002147;
}

* .card-section {
  margin-top: 4rem;
  background-color: #f0f4f9;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

* .card-section .OurPlans {
  color: #fdc800;
  font-weight: bold;
}

* .card-section .CardH1 {
  color: #002147;
  font-family: Georgia;
  font-weight: bold;
}

* .card-section .btnCol .yearlyBtn {
  background-color: white;
  font-size: small;
  float: right;
  border-radius: 0;
  border: none;
}

* .card-section .btnCol .yearlyBtn:hover {
  background-color: #00b2b2;
}

* .card-section .btnCol .monthlyBtn {
  background-color: white;
  font-size: small;
  float: right;
  border-radius: 0;
  border: none;
}

* .card-section .btnCol .monthlyBtn:hover {
  background-color: #00b2b2;
}

* .card-section .ThreeCard {
  width: 18rem;
  margin: auto;
}

* .card-section .cardheader {
  background-color: #033977;
  margin-left: 77px;
  margin-right: 86px;
  text-align: center;
  padding: 5px;
  border-radius: 0;
  font-weight: bolder;
}

* .card-section .card-title {
  color: #002147;
}

* .card-section .cardtext {
  font-size: small;
}

* .card-section .cardUl {
  list-style: none;
}

* .card-section .cardUl .li-para {
  color: #002147;
  line-height: 35px;
}

* .card-section .cardUl li::before {
  content: "✓";
  color: green;
}

* .card-section .ButtonDiv {
  text-align: center;
}

* .card-section .ButtonDiv .cardButton {
  background-color: #002147;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
}

* .cardButton:hover {
  background-color: #fdc800;
}

* .footer {
  background-color: #002147;
  padding-bottom: 0;
}

* .footer .footer-space {
  padding-top: 2rem;
}

* .footer .copyright {
  background-color: #fdc800;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 12px;
  padding-bottom: 1px;
}

* .footer .copyright .copy-right-para {
  padding-left: 8px;
  color: #002147;
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
  * .navbarBackground {
    background-color: #fdc800;
  }
  * .navbarBackground .navbar-brand {
    font-size: small;
  }
  * .Analytic-img {
    margin-top: 35px;
  }
  * .sucess-section .successImg-div {
    padding-left: 54px;
  }
  * .sucess-section .successPara-div {
    text-align: center;
  }
  * .sucess-section .successClock-div .clock {
    font-size: larger;
    text-align: center;
  }
}

@media only screen and (min-width: 570px) and (max-width: 750px) {
  * .sucess-section .successImg-div {
    padding-left: 54px;
  }
  * .sucess-section .successPara-div {
    text-align: center;
  }
  * .sucess-section .successClock-div .clock {
    text-align: center;
  }
}

@media only screen and (min-width: 760px) and (max-width: 1040px) {
  * .sucess-section .successImg-div {
    padding-left: 54px;
    display: none;
  }
  * .sucess-section .successPara-div {
    text-align: center;
  }
  * .sucess-section .successClock-div .clock {
    text-align: center;
  }
}
/*# sourceMappingURL=Ass2.css.map */